// Colors
$white: #ffffff;
$black: #000000;
$blue: #0F1A47;

// Typography
$font-default: 16px;
$font-title: 31px;
$font-subtitle: 20px;
$montserrat: 'Montserrat', sans-serif;
$montserrat-regular: 400;
$montserrat-bold: 500;